*{
    padding: 0;
    margin: 0;
    font-family: century ghotic;
    text-align: center;
}
form{
    padding: 50px 20px;
    background-color:#ededed;
    margin: calc(25% + 100px);
    margin-top: 70px;
    padding-top: 28px;
    margin-bottom: 30px;
}
h1{
    text-align: center;
    padding: 12px;
    color: #444;
}
input[type='submit']{
    background-color: rgb(96, 168, 168);
    width: calc(80% - 20px);
    margin: 0 10%;
    margin-top: 22px;
    border: none;
}
input{
    width: calc(100% - 20px);
    padding: 9px;
    margin: auto;
    margin-top: 12px;
    font-size: 16px;
}
.ok{
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: #1e6;
    color: #fff;
}
.bad{
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: #a22;
    color: #fff;
}