*{
    margin: 25px;
    padding: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.navbar{
    max-width: 100%;
    max-height: 50px;
}
h1{
    text-align: center;
    background: red;
}