*{
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
body{
    background: #f2f2f2;
    font-size: 16px;
    font-family: 'tapestry', cursive;
}
.wrap{
    width: 90%;
    max-width: 500px;
    margin: auto;
}
form{
    width: 100%;
    margin: 20px;
    padding: 20px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 3px gray;
    border-top:  4px solid rgba(126, 36, 170, 0);
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea:focus{
    border: 1px solid #536dfe;
    border-radius: 2px;
    padding: 16px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    font-family: 'tapestry',cursive;
    font-size: 1em;
    color: #21295a;
}
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form textarea:focus{
    border: 2px solid #3f90b5;
    padding: 14 px;
}
form textarea{
    max-width: 100%;
    max-width: 100%;
    max-height: 300px;
    min-height: 150px;
}
.alert.error{
    background: #4caf50;
}
.btn,
form input[type="submit"]{
    padding: 15px;
    background: #a94442;
    color: #fdedef;
    font-size: 1em;
    font-family: 'tapestry', cursive;
    border-radius: 2px;
    border: none;
    float: right;
    cursor: pointer;
}
form input[type="submit"]:hover{
    background: #a94442;
}