body{
    background-image: url("https://media.istockphoto.com/photos/margins-of-the-rio-limay-with-colored-trees-in-the-province-of-rio-picture-id1071190898?b=1&k=6&m=1071190898&s=170667a&w=0&h=6w2wYpm57-E1C6TvbB3i2JigalAuJndUZpcRXjXaykM=");
    background-color: hsla(0, 100%, 51%, 0);
    background-size: 100%, 100%;
  }
  
  h1{
    text-align: center;
    margin-top: 15%;
    font-family: 'Raleway', sans-serif;
    background:fixed;
  }
  
  h2{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
  }
  
  #firstbtn{
    border: 3px solid white;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    margin-left: 47%;
    margin-top: 0.25cm;
    font-size: 26px;
    color: white;
    transition: background-color 1s;
  }
  
  #content button{
    border: 3px solid white;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: white;
    transition: background-color 1s;
    margin-left: 21%;
  }
  
  #content button:nth-of-type(3){
    margin-left: 34%;
  }
  
  button:hover{
    background-color: white;
    opacity: 0.5;
    border: 3px solid white;
  }
  
  #content{
    margin-left: 20%;
  }
  
  #content p{
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    margin-left: 30%;
    font-size: 20px;
  }