*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}
body{
    background: rgb(17, 17, 17);
    font-size: 16px;
    font-family: 'Tapestry', cursive;
}
.wrap{
    width: 90%;
    max-width: 500px;
    margin: auto;
}
form{
    width: 100%;
    margin: 20px;
    padding: 20px;
    background: rgb(18, 15, 194);
    overflow: hidden;
    box-shadow: 0 0 3px rgb(255, 253, 253);
    border-top: 4px solid #11fdf1;
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea{
    border: 1px solid #e4e4e7;
    border-radius: 2px;
    padding: 16px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    font-family: 'Tapestry', cursive;
    font-size: 1em;
    color:rgb(17, 17, 17)
}
form input[type="text"]:focus,
form input[type="text"]:focus,
form input[type="text"]:focus,
form textarea:focus{
    border: 2px solid #3f90b5;
    padding: 14px;
}
form textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 300%;
    min-height: 150%;
}
.alert.error{
    background: #fdedef;
    border: 1px solid #a94442
    color #a94442;
}
.alert.success{
    background: #4caf50;

}
.btn,
form input[type="submit"]{
    padding: 15px;
    background: #a94442;
    color: #fdedef;
    font-family: 'tapestry', cursive;
    border-radius: 2px;
    border: none;
    float: right;
    cursor: pointer;
}
form input[type="submit"]:hover{
    background: #a94442;
}
