*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
    color: #fff;
    background-color: #000000;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23d10050' fill-opacity='0.1'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}
a{
    font-size: 27px;
    color: #f5f5f5;
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 90%;
    margin: auto;
}
/* aca vienen los estilos de navegacion */
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
.nav-brand{
    width: 80px;
}
/* aca viene la navegacion izquierda */
.nav-main ul{
    display: flex;
}
.nav-main ul li{
    padding: 10px;
}
.nav-main ul li a:hover{
    border-bottom: 2px solid #fff;
}
.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}
/* showcase = escaparate */
hr{
    margin: 10px 0;
}
.showcase{
    width: 100%;
    height: 550px;
    background: rgb(4, 80, 223);
    padding-bottom: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0;
}
.btn:hover{
    opacity: .7;
}
.showcase h2
.showcase p{
    margin-bottom: 10px;
}
/* news-cards */
.news-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
}
.news-cards img{
    width: 100%;
    height: 180px;
}
.news-cards h3{
    font-size: 20px;
    margin: 10px 0;
}
.news-cards a{
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}
.news-cards a:hover{
    text-decoration: underline;
}
/* cards-banner-one */
.cards-banner-one{
    width: 100%;
    height: 350px;
    background: coral;
    margin-bottom: 40px;
}
.cards-banner-one .content{
    width: 40%;
    padding: 90px 0 30px;
    color: #ffffff;
}
.cards-banner-one p,
.cards-banner-one h2{
    margin: 20px 0 20px 0;
}
/* cards-banner-two */
.cards-banner-two{
    width: 100%;
    height: 350px;
    background: crimson;
}
.cards-banner-two .content{
    width: 50%;
    padding: 100px 0 30px;
}
/* seccion social */
.social{
    margin: 50px;
}
.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.links{
    display: flex;
    text-align: center;
    justify-content: center;
}
.links a{
    margin: 0 3px;
}
.links a i{
    font-size: 3rem;
}
/* footer links */
.footer-links{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}
.footer-container ul{
    margin: 0 auto;
}
.footer-container ul li{
    line-height: 2.8;
}
.footer{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}