*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box ;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0;
}
nav{
    background: rgb(19, 175, 159);
}
.menu{
    text-align: center;
    margin: 0;
}
.menu li{
    display: inline-block;
}
.menu a{
    padding: 45px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    font-size: 20px;
    font-family: 'Monoton', cursive;
}
.menu a:hover{
    background:  rgb(45, 231, 212);
}
.gris{
    background: #333333;
    color: #ffff;
    text-align: center;
    padding: 80px;
    font-family: 'bangers', cursive;
}
.imagen{
    height: 350px;
    background: url(https://www.gndiario.com/sites/default/files/styles/noticia_detalle_noticia_2_1/public/noticias/empresas-futuro.jpeg?itok=sUnvpggu) no-repeat center;
    background-size: cover;
}
.dos_col{
    width: 1024px;
    margin-left: auto;
}
.col{
    display:inline-block;
    vertical-align: top;
    padding-left: 150;
}
.dos_col .col_lef li{
    width: 600px;
    vertical-align: bottom;
    float: left;
    margin-right: 60px;
    padding-right: 150px;
}
.dos_col .col_right a{
    width: 400px;
    padding: 400px;
    box-sizing: border-box;
}
.dos_col .col_right a:hover{
    text-decoration: none;
}
.tres_col_wrapper{
    background: #1e1e1e;
}
.tres_col{
    background: white ;
}
.tres_col_wrapper{
    list-style: none;
}