*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    background: rgb(255, 255, 255);
}
body{
    background: rgb(0, 217, 255);
    margin-top: auto;
    text-align: center;
    padding: 40px;
    margin-bottom: 160px;
    padding-bottom: 50px;
    
}
h1{
    
    display: inline;
    margin: 80px;
    padding: 20px;
    font-family: cursive;
    font-size: xx-large;
}




