*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-size: 16;
    font-family: 'Raleway' , sans-serif;
    background: #6f7171;
    color: #fff;
}
a{
    text-decoration: none;
    color: #0800ff;
}
a:hover{
    text-decoration: underline;
}
.contenedor{
    max-width: 500px;
    width: 90%;
    margin: auto;
}
.titulo{
    font-weight: 300;
    color: #4c00ff;
    text-align: center;
    margin: 60 0 30 0;
}
.border{
    border: none;
    margin-bottom: 5px;
    border-top: 10px solid #465df5;
    background: none;
    color: none;
}
.contenido article{
    padding: 30px;
    background: #fff;
}
.contenido article p{
    margin-bottom: 10px;
    color: #000;

}
.formulario{
    background: #465df5;
    padding: 30px;
    margin-bottom: 10px;
}
.formulario .form-group{
    width: 100%;
    margin-bottom: 30px; 
}
.formulario .icono{
    padding: 15px;
    text-align: center;
    width: 48px;
    max-width: 48px;
    font-size: 18px;
    line-height: 18px;
    background: #8c8c8c;
    display: inline-block;
    color: #6b6b6b;
    vertical-align: top;
}
.formulario .icono.izquierda{
    margin-right: 4px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.formulario input[type="text"],
.formulario input[type="password"]{
    padding: 15px;
    font-family: 'Raleway' , sans-serif;
    font-size: 18px;
    line-height: 18px;
    border: none;
    vertical-align: top;
}
.formulario input[type="text"],
.formulario input[type="password"]{
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 18px;
    border: none;
    vertical-align: top;
}
.formulario .usuario,
.formulario .password{
    width: calc(100% - 52px);
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.formulario .password_btn{
    width: calc(100% - 52px);
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.texto-registrate{
    text-align: center;
}
.texto-registrate a{
    display: block;
    font-size: 18px;
}
.formulario .password_btn{
    width: calc(100% - 105px);
}
.formulario .submit-btn{
    padding: 15px;
    text-align: center;
    width: 48px;
    max-height: 48px;
    font-size: 18px;
    line-height: 18px;
    background: #679863;
    display: inline-block;
    color: #fff;
    background: #769766;
    cursor: pointer;

    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
   
}



