body{
    width: 100%;
    background: rgb(226, 123, 123);
    
}
table, th, td{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 50px;
    padding: 10px;
}
th, td{
    padding: 3px;
}