*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: #000000;
    color: #fcfcfd;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
h1{
    margin: 20px 0;
    padding: 125px 80px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size:xx-large;
    color: #f70e0e;
    font-weight: normal;
}
.contenedor .articulos{
    margin-bottom: 20px;
}
.contenedor .articulos ul{
    list-style: none;
}
.contenedor .articulos ul li{
    padding: 15px 10px;
    border-bottom: 1px solid #c8c8c8;
}
.paginacion ul{
    list-style: none;
}
.paginacion ul li{
    display: inline-block;
    margin-right: 10px;
}
.paginacion ul .active a{
    background: #04fa6b;
}
.paginacion ul .disabled{
    background: #c8c8c8;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    padding: 15px 25px;
    cursor:not-allowed;
    color:#fff;
    text-decoration: none;
}
.paginacion ul li a{
    display: inline-block; 
    font-family: 'Oswald', sans-serif;
    padding: 15px 25px;
    background: #424242;
    color: #fff;
    text-decoration: none;
}
.paginacion ul li a:hover{
    text-decoration: none;
    background: #3299bb;
}