.container{
    display: flex;
    width: 600px;
}
.container{
    margin: 0 auto;
    background-color: rgb(255, 70, 172);
    padding: 10px;
    display: flex;
    border: solid 10px rgb(250, 122, 218);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
div{
    display: block;
    background: rgb(124, 200, 236);
    border: solid 10px rgb(126, 124, 236);
    margin: 10px auto;
    padding: 10px;
    
}

