@font-face{
    font-family: "roboto";
    src: url("../fnt/roboto.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fffff0;
    font-family: "roboto";
}
html{
    width: 100%;
    min-height: 100%;
    background-color: #222;
}
body{
    position: relative;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("https://t2.uc.ltmcdn.com/es/posts/5/1/2/como_empezar_a_buscar_trabajo_sin_experiencia_35215_paso_5_600.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
    z-index: 100;
}
section > nav{
    position: absolute;
    top: 30vh;
    height: 30vh;
    width: 100%;
    text-align: center;
    z-index: 100;
}
#contact,#webdesign,footer{
    position: fixed;
    width: 100%;
    height: 35vh;
    z-index: 10;
}
#contact{
    bottom: 10vh;
    background-color: #222;
}
#webdesign{
    position: relative;
    z-index: 2; 
    margin-bottom: 45vh;
}
footer{
    height: 10vh;
    bottom: 0;
    text-align: right;
    padding: 10px;
    background-color: #222;
}
footer small span{
    font-size: 21px;
}
h1, h2{
    height: 10vh;
    width: 100%;
    margin: 0 auto;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
    animation-play-state: paused;
}
h1{
    font-size: 38px;
    min-height: 40px;
    text-shadow: black  3px 2px 0;
    animation-name: toleft;    
    font-variant:small-caps;
}
h2{
    font-size: 26px;
    min-height: 24px;
    text-shadow: black 2px 1px 1px;
}    
nav h2{
    animation-name: toright;
}
h3{
    position: relative;
    height: 10vh;
    min-height: 24px;
    float: left;
    width: 50%;
    font-family: monospace;
    font-style: inherit;
    font-size: 21px;
    text-shadow: black 1px 1px 0,
                 black -1px -1px 0;
    padding: 5px;
    border: 2px solid #fffff0;
}
nav ul li{
    display: inline-block;
    width: 100px;
    height: 10vh;
    vertical-align: middle;
    padding: 5px;
}
nav ul li a{
    text-decoration: none;
    padding: 5px;
    border: 3px solid #fffff0;
    
}
nav ul li:first-child a{
    padding: 5px 18px;
}
nav ul li a:hover{
    background-color: rgba(0,0,0,0.5)
}
.fixed{
    position: fixed;
    top: 0;
}
.hide{
    display: none;
}
#color{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(2,2,2,0.2);
}
#webdesign{
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}
#webdesign > div{
    width: 40vw;
    height: 16vh;
    float: left;
    margin: auto;
    border: 2px solid #fffff0;
}
#webdesign > div img{
    width: 100%;
    height: 100%; 
    -moz-filter: grayscale(60%); /* Firefox */
    -webkit-filter: grayscale(60%); /* Chrome, Safari, Opera */
    filter: grayscale(60%);
}
#webdesign > div img:hover{
    -moz-filter: none; /* Firefox */
    -webkit-filter: none; /* Chrome, Safari, Opera */
    filter: none;
}
#contact > div{
    width: 50%;
    height: 100%;
    float: left;
    display: table;
}
#contact > div:first-child ul{
    width: 100%;
}
#contact > div:first-child ul li {
    margin: 8px auto 0 5vw;
    font-size: 12px;
    text-align: left;
}
.social{
    text-align: center;
    z-index: 1;
}
.social h2{
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding-top: 5px;
}
.social hr{
    width: 80%;
    margin: 3px auto;
}
.social ul{
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 3vw;
    padding-right: 3vw;   
}
.social ul li{
    display: inline-block;
    text-align: center;
    margin: 10px auto;
    font-size: 12px;
}
.social > a{
    font-size: 12px;
    padding: 3px;
    background-color: #fffff0;
    color: #222;
    border-radius: 10px;
    border: 2px solid #999;
}
.social ul li a{
    border: none;
}
.social ul li a:hover{
    opacity: 0.5;
}
@media screen and (min-width: 680px){
    h1,h2{
        width: 50vw;
        -webkit-animation-play-state: running; /* Chrome, Safari, Opera */
        animation-play-state: running;
    }
    h1{
        font-size: 52px;
    }
    h2{
        font-size: 42px;
    }
    #webdesign > div{
    width: 200px;
    height: 30vh;
    }
    .social h2{
        font-size: 42px;
    }
    .social ul li{
        font-size: 24px;
    }
    .social ul li span{
        font-weight: normal;
    }
    .social > a{
    font-size: 18px;
    }
    #contact > div:first-child ul{
    width: 50%;
}
}

@media screen and (max-width: 1000px) and (min-width: 680px){
    h1{
        width: 60vw;
    }
    #webdesign > div{
    width: 150px;
    }
    .social h2{
        font-size: 36px;
    }
    .social ul li{
        font-size: 18px;
    }
    .social > a{
    font-size: 16px;
    }
}
@media screen and (max-width: 800px) and (min-width: 680px){
    section > nav{
        top: 5vh;
        height: 60vh;
    }
    h1{
        height: 20vh;
    }
    h2{
        height: 20vh;
    }
    nav ul{
        height: 20vh;
    }
    #webdesign{
        height: 60vh;
        margin-bottom: 60vh;
    }
    #webdesign > div{
        height: 60vh;
    }
    #contact{
        height: 60vh;
    }
}

@keyframes toright {
    from {margin-left: 0}
    to {margin-left: 25vw;}
}
@keyframes toleft {
    from {margin-right: 0}
    to {margin-right: 25vw;}
}