*{
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.container{
    display: grid;
    background: #ffffe3;
    grid-template-columns: 180px 180px 180px 180px;
    grid-gap: 20px;
    font-size: 15px;
    margin-left: 280px;    
}
.tabla__titulo{
    margin-bottom: 15px;
    text-align: center;
}
.tabla__tarea{
    border: 1px solid rgba(102, 99, 99, 0.747);
    border-radius: 3px;
    padding: 15px;
    text-align: center;
    
}
.tabla__tarea a, .boton {
border: none;
color: white;
padding: 5px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 13px;
border-radius: 3px;
}
.tabla__tarea--boton1{
    background-color: rgba(2, 87, 199, 0.904);
}
.tabla__tarea--boton2{
    background-color: rgb(168, 3, 3);
}
.boton{
background: rgb(121, 194, 119);
}

.formulario{
    width: 300px;
    margin: 20px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f3f3f3;
    overflow: hidden;
    box-shadow: 0 0 3px gray;
    border-top: 4px solid gray;
}

h1 {
    font-weight: 300px;
    color: #020202;
    text-align: center;
    margin: 60px 0 30px 0;
}

.tarea, .descripcion {
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: black;
}
.estado {
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: black;

}
.formsave {
    padding: 15px;
    background-color: rgb(82, 114, 255);
    color: #fdedef;
    font-size: 1em;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

