*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial';
}
.container{
    width: 90%;
    max-width: 800px;
    min-height: 600px;
    margin: 80px auto;
    border: 3px solid #000;
    display: flex;
    /* flex-direction: column-reverse; */
    /* row-reverse | column-reverse | column |column reverse */
    /* flex-wrap: wrap; */

    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    /* align-content: space-evenly; */
    align-items: center;
    flex-direction: column;

}
.element{
    color: #fff;
    font-size: 2rem;
    text-align: center;
    line-height: 100px;
    /* width: 200px; */
    /* height: 100px; */
    /* flex-grow: 1; */
    flex-basis: 150px;
}
.element1{
    background-color: crimson;
    order: 0;
}
.element2{
    background-color: purple;
    order: 0;
}
.element3{
    background-color: steelblue;
    order: 0;
}
