*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    height: 600px;
    width: 600px ;
    background: #09024b;
    /* grid-gap: 10px; */
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); se ajustan */
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); se crean tantas como se puede */
    /* grid-template-columns: repeat(2, minmax(80px, 1fr) minmax(20px, 50px)); */

}
[class^="item"]{
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.item1{
    background: #ef3901;
}
.item2{
    background: #1bd734;
}
.item3{
    background: #0f46d3;
}
.item4{
    background: #a70ea2;
}

/* .item1{
    background: #cfa107;
}
.item2{
    background: #156920;
}
.item3{
    background: #064d50;
}
.item4{
    background: #91016d;
} */