.cabeza{
    background: linear-gradient(to right, #a39d9d,rgb(75, 73, 73), #181717); 
}
header{
    height: 200px;
    background-color: rgb(0, 0, 0);
    border: 1px solid #000;
}
header img{
    height: 80px;
    width: 120px;
    margin: 10px;
    transform: translate(20px, -30px);
}
h1{
    text-align: center;
    color: rgb(20, 7, 206);
}
.parrafo1{
    color: #fff;
    position: relative;
    left: 180px;
    top: -70px;
}
button{
    border-radius: 20px;
    background-color: rgb(7, 142, 253);
    transform: translate(1050px, -80px);
}
button :hover{
    color: rgb(3, 3, 3);
}
aside{
    padding: 30px;
    margin: 30px;
    height: 500px;
    background-color: #0e0d0d;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 15l15 15H0V15zM15 0l15 15V0H15z' fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    display: grid;
    grid-template-columns: 180px 180px 180px 180px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.caja{
    width: 150px;
    height: 150px;
    background-color: blue;
    margin: 10px;
    padding: 8px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 3px rgb(204, 193, 193);
    border-radius: 8%;
    text-align: center;
    transform: translate(200px,40px);
}
.caja:hover{
    background-color: rgb(0, 255, 242);
    color: rgb(224, 26, 26);
    height: 170px;
    width: 160px;
}
footer{
    background-color: rgb(0, 0, 0);
    border: 1px solid #000;
}
ul{
    display: flex;
    justify-content: flex-end;
    transform: translate(-18px, 5px);
    list-style: none;
    
}
li{
    margin: 0 20px;
    text-decoration: none;
}
a{
    color: rgb(211, 214, 218);
}
a:hover{
    color: #ffffff;
}
.parrafo{
    color: #fff;
    position: relative;
    left: 100px;
    top: -30px;
}
body{
    background: linear-gradient(to right, #746c6d, #272626);
}
.login{
    text-align: center;
    color: #ffffff;
}
article{
    padding: 30px;
    margin: 40px;
    height: 200px;
    width: 300px;
    text-align: center;
    background-color: rgb(119, 122, 124);
    border: 1px solid rgb(100, 98, 98);
    border-radius: 10%;
    box-shadow: 5px 8px;
    position: absolute;
    right: 33%;
}
input{
    border-radius: 20px;
}
.submit{
    background-color: rgb(11, 27, 252);
    color: #fff;
    border-radius: 20px;
}
.crear{
    width: 300px;
    height: 280px;
    text-align: center;
    transform: translate(520px,90px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: #000 1px solid;
    border-radius: 10px
    
}



