*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: #e8eef2;
    color: #ffff;
    font-family: 'Nunito', sans-serif;
}
.visitantes{
    background: red;
    width: 200px;
    border-radius: 5px;
    padding: 30px;
    margin: 30px;
    text-align: center;
}
h1{
    font-weight: normal;
    text-align: center;
    margin: 30px;
    color: #0d2c44;
}
.visitantes .numero{
    font-weight: normal;
    font-size: 60px;
    color: #ffff;

}