body{
    background-color: rgb(79, 79, 167);
    border-top: 1px solid #fff;
}
h1{
    color: wheat;
    border-top: 1px solid #fff;
    transform: translate(+200px,+20px);
}
p {
    color: #fc0;
    font-size: 2em;
    transform: translate(+10px,+20px);
}

