*{
margin: 0%;
padding: 0%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
    background: rgb(220, 220, 220);
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Serif', serif;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: #b70018;
}
a:hover{
    text-decoration: underline;
}
.contenedor{
    max-width: 1000px;
    width: 90%;
    margin: auto;
}
.izquierda{
    float: left;
}
.derecha{
    float: right;
}
header{
    color: #fff;
    margin-bottom: 30px;
    background: #bb1f35;
}
header .contenedor{
    overflow: hidden;
}
header .logo{
    max-width: 300px;
}
header .logo a{
    color: #fff;
    font-family: 'Noto Serif', serif;
    font-size: 28px;
    line-height: 70px;  
}
header .logo a:hover{
    text-decoration: none;
}
header .buscar{
    display: inline block;
    position: relative;
    margin-right: 15px;

}
header .buscar input[type="text"]{
    background: none;
    border: 1px solid rgb(255, 255, 255, .7);
    color:rgb(255, 255, 255, .7);
    height: 30px;
    padding: 0 10px;
    padding-right: 32px;
}
header .buscar input[type="text"]:hover,
header .buscar input[type="text"]:focus{
    color: #fff;
    border: 1ps solid #fff;
}
header .buscar .icono{
    color:rgb(255, 255, 255, .7);
    position: absolute;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
    font-size: 16px;
    line-height: 16px;
}
header .buscar .icono:hover{
    color: #fff;
}
header .menu {
    display: inline block;
}
header .menu ul{
    list-style: none;
}
header .menu ul li{
    display: inline-block;
    line-height: 70px;
}
header .menu ul li a{
    color: #fff;
    display: block;
    padding: 0px 20px;
    font-weight: bold;
}
header .menu ul li a:hover{
    background: #ff0000;;
    text-decoration: none;
}
header .menu ul li a .icono{
    margin-left: 15px;
}
.post{
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    margin-bottom: 30px;
    padding: 30px;
}
.post article .titulo{
    font-family: 'oswald', Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 10px;
}
.post article .titulo a{
    color: black;

}
.post article .fecha{
    color: #ff0000;
    font-size: 14px;
    margin-bottom: 20px;
}
.post article .thumb{
    margin-bottom: 20px;
}
.post article .thumb .img{
    vertical-align: top;
    width: 100%;
}
.post article .estracto{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}
.post article .continuar{
    color: #ff0000;
    font-weight: bold;
}
.btn{
    padding: 15px;
    display: inline-block;
    margin: 15px 0;
    background: #595959;
    color: white;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    border: none;
}
.btn:hover{
    text-decoration: none;
    background: #ff0000;
}
footer{
    background: #bb1f35;
    color: #fff;
}
footer .copyright{
    text-align: center;
    font-size: 14px;
    padding: 15px 0;
} 
.paginacion{
    margin-bottom: 30px;
}
.paginacion ul{
    list-style: none;
    text-align: center;
}
.paginacion ul li{
    display: inline-block;
    margin: 0 5px;
    color: #fff;
}
.paginacion ul li a{
    display: block;
    padding: 10px 20px;
    background: #b70018;
    color: #fff;
}
.paginacion ul li a:hover{
    background: #ff0000;
    text-decoration: none;
}
.paginacion ul .active{
    background: #b70018;
    padding: 10px 20px;
}
.paginacion ul .disabled{
    background: #595959;
    padding: 10px 20px;
    cursor: not-allowed;
}
.paginacion ul .disabled:hover{
    background: #595959;
}
.paginacion ul .active:hover{
    background: #b70018;
}