*{
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}
.container{
    height: 500px;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30%;
    transform: translate(+15px,+40px);
}
.caja:hover{
    color: rgb(254, 254, 255); 
    background: rgb(14, 14, 102);
}
.icono_boton_azul-1 img:hover,
.icono_boton_azul-2 img:hover{
    background: #fff;
}
.caja{
    height: 145px;
    width: 145px;
    display: grid;
    color: rgb(14, 14, 102);
    grid-template-columns: auto auto auto auto auto;
    border-radius: 8%;
    grid-gap: 10px;
    padding: 20px; 
    box-shadow: 0 0 5px gray;
    transform: translate(-655px,+50px);
}
.M1{
    width: 100px;
    transform: translate(+5px,-37px);
}
.boton_verde-1{
    transform: translate(-145px,-38px);
    background: rgb(0, 255, 17);
    border-radius: 100%;
}
.boton_rojo-2{
    transform: translate(-23px,-38px);
    background: red;
    border-radius: 100%;
}
.icono_boton_azul-1 img{
    height: 70px;
    width: 70px;
    background: rgb(14, 14, 102);
    transform: translate(-162px,-2px);
    border-radius: 100%;
}
.tabla{
    height: 360px;
    width: 280px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 1px solid #000;
    box-shadow: 0 0 5px rgb(81, 87, 85);
    transform: translate(+80px,+70px);
}
.col-md-8{
    height: 400px;
    width: 90px;
    overflow: auto;
    transform: translate(+500px,-410px);
}
.tablo{
    width: 19%;
    text-align: center;
    border: 1px solid #000;
    box-shadow: 0 0 5px rgb(81, 87, 85);
    transform: translate(+500px,+30%);
}
.personas{
    width: 120px;
    transform: translate(-285px,+80px);
}
.guardar{
    color: rgb(255, 255, 255);
    background-color: rgb(61, 8, 255);
}
.Edit{
    color: rgb(255, 255, 255);
    background-color: rgb(14, 87, 243);
}
.remove{
    color: rgb(255, 255, 255);
    background: rgb(255, 0, 0);
}
.bebe{
    background-color: rgb(107, 74, 138);
    border-top: 2px solid #fff;
}
h1{
    border-top: 2px solid #fff;
}
p{
    border-top: 2px solid #fff;
}
@media screen and (max-width: 750px){
    .container{
        display: grid;
        grid-template-rows: 20%, 20%, 20%, 20%, 20%, 20%, 20%, 20%;
        grid-template-columns: 1fr;
    }
    .caja{
        height: 140px;
        width: 140px;
        display: grid;
        color: rgb(14, 14, 102);
        grid-template-columns: auto auto auto auto auto;
        border-radius: 8%;
        grid-gap: 10px;
        padding: 20px; 
        box-shadow: 0 0 5px gray;
        transform: translate(-20px,+400px);
    }
    .M1{
        transform: translate(+1px,-37px);
    }
    .boton_verde-1{
        transform: translate(-28px,-38px);
        background: rgb(0, 255, 17);
        border-radius: 100%;
    }
    .boton_rojo-2{
        transform: translate(-28px,-38px);
        background: red;
        border-radius: 100%;
    }
    .icono_boton_azul-1 img{
        height: 65px;
        width: 65px;
        background: rgb(14, 14, 102);
        transform: translate(-162px,+10px);
        border-radius: 100%;
    }
    .col-md-8{
        height: 420px;
        width: 300px;
        overflow: auto;
        transform: translate(+20px,+5px);
    }
    .tabla{
        transform: translate(+48px,-10px);
    }
}