*{
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}
.container{
    height: 300px;
    width: 600px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% 25% 25% 25% 25%;
    grid-template-rows: 1fr 1fr;
}
.caja:hover{
    color: rgb(254, 254, 255); 
    background: rgb(14, 14, 102);
}
.icono_boton_azul-1 img:hover, .icono_boton_azul-2 img:hover, .icono_boton_azul-3 img:hover,
.icono_boton_azul-4 img:hover, .icono_boton_azul-5 img:hover, .icono_boton_azul-6 img:hover,
.icono_boton_azul-7 img:hover, .icono_boton_azul-8 img:hover, .icono_boton_azul-9 img:hover,
.icono_boton_azul-10 img:hover, .icono_boton_azul-11 img:hover, .icono_boton_azul-12 img:hover{
    background: #fff;
    
}
.caja{
    display: grid;
    color: rgb(14, 14, 102);
    grid-template-columns: auto auto auto auto auto;
    border-radius: 8%;
    grid-gap: 10px;
    padding: 20px; 
    box-shadow: 0 0 5px gray;
    transform: translate(-5px,+40px);
}
.BARRA{
    transform: translate(-1px,-40px);
}
.M1{
    transform: translate(+15px,-40px);
}
.M2{
    transform: translate(+15px,-40px);
}
.M3{
    transform: translate(+15px,-40px);
}
.M4{
    transform: translate(+15px,-40px);
}
.M5{
    transform: translate(+15px,-40px);
}
.M6{
    transform: translate(+15px,-40px);
}
.M7{
    transform: translate(+15px,-40px);
}
.M8{
    transform: translate(+15px,-40px);
}
.M9{
    transform: translate(+15px,-40px);
}
.M10{
    transform: translate(+15px,-40px);
}
.M11{
    transform: translate(+15px,-40px);
}
.boton_verde-1{
    transform: translate(-146px,-35px);
    background: rgb(0, 255, 17);
    border-radius: 100%;
}
.boton_rojo-2{
    transform: translate(-87px,-35px);
    background: red;
    border-radius: 100%;
}
.boton_verde-3{
    transform: translate(-107px,-35px);
    background: rgb(13, 255, 0);
    border-radius: 100%;
}
.boton_rojo-4{
    transform: translate(-50px,-35px);
    background: red;
    border-radius: 100%;
}
.boton_verde-5{
    transform: translate(-107px,-35px);
    background: rgb(13, 255, 0);
    border-radius: 100%;
}
.boton_rojo-6{
    transform: translate(-50px,-35px);
    background: red;
    border-radius: 100%;
}
.boton_verde-7{
    transform: translate(-107px,-35px);
    background: rgb(13, 255, 0);
    border-radius: 100%;
}
.boton_rojo-8{
    transform: translate(-50px,-35px);
    background: red;
    border-radius: 100%;
}
.boton_verde-9{
    transform: translate(-107px,-35px);
    background: rgb(13, 255, 0);
    border-radius: 100%;
}
.boton_rojo-10{
    transform: translate(-50px,-35px);
    background: red;
    border-radius: 100%;
}
.boton_verde-11{
    transform: translate(-107px,-35px);
    background: rgb(13, 255, 0);
    border-radius: 100%;
}
.boton_rojo-12{
    transform: translate(-49px,-35px);
    background: red;
    border-radius: 100%;
}
.boton_verde-13{
    transform: translate(-107px,-35px);
    background: rgb(13, 255, 0);
    border-radius: 100%;
}
.boton_rojo-14{
    transform: translate(-48px,-35px);
    background: red;
    border-radius: 100%;
}
.boton_verde-15{
    transform: translate(-107px,-35px);
    background: rgb(13, 255, 0);
    border-radius: 100%;
}
.boton_rojo-16{
    transform: translate(-50px,-35px);
    background: red;
    border-radius: 100%;
}.boton_verde-17{
    transform: translate(-107px,-35px);
    background: rgb(13, 255, 0);
    border-radius: 100%;
}
.boton_rojo-18{
    transform: translate(-50px,-35px);
    background: red;
    border-radius: 100%;
}
.boton_verde-19{
    transform: translate(-107px,-35px);
    background: rgb(13, 255, 0);
    border-radius: 100%;
}
.boton_rojo-20{
    transform: translate(-50px,-35px);
    background: red;
    border-radius: 100%;
}
.boton_verde-21{
    transform: translate(-117px,-35px);
    background: rgb(13, 255, 0);
    border-radius: 100%;
}
.boton_rojo-22{
    transform: translate(-58px,-35px);
    background: red;
    border-radius: 100%;
}
.boton_verde-23{
    transform: translate(-117px,-35px);
    background: rgb(13, 255, 0);
    border-radius: 100%;
}
.boton_rojo-24{
    transform: translate(-57px,-35px);
    background: red;
    border-radius: 100%;
}
.icono_boton_azul-1 img{
    height: 65px;
    width: 65px;
    background: rgb(14, 14, 102);
    transform: translate(-226px,+10px);
    border-radius: 100%;
}
.icono_boton_azul-2 img{
    height: 65px;
    width: 65px;
    background: rgb(14, 14, 102);
    transform: translate(-182px,+10px);
    border-radius: 50% 50%;   
}
.icono_boton_azul-3 img{
    height: 65px;
    width: 65px; 
    background: rgb(14, 14, 102);
    transform: translate(-182px,+10px);
    border-radius: 50% 50%;   
}
.icono_boton_azul-4 img{
    height: 65px;
    width: 65px;
    background: rgb(14, 14, 102);
    transform: translate(-182px,+10px);
    border-radius: 50% 50%;   
}
.icono_boton_azul-5 img{
    height: 65px;
    width: 65px;
    background: rgb(14, 14, 102);
    transform: translate(-182px,+10px);
    border-radius: 50% 50%;   
}
.icono_boton_azul-6 img{
    height: 65px;
    width: 65px;
    background: rgb(14, 14, 102);
    transform: translate(-182px,+10px);
    border-radius: 50% 50%;   
}
.icono_boton_azul-7 img{
    height: 65px;
    width: 65px;
    background: rgb(14, 14, 102);
    transform: translate(-182px,+10px);
    border-radius: 50% 50%;   
}
.icono_boton_azul-8 img{
    height: 65px;
    width: 65px;
    background: rgb(14, 14, 102);
    transform: translate(-182px,+10px);
    border-radius: 50% 50%;   
}
.icono_boton_azul-9 img{
    height: 65px;
    width: 65px;
    background: rgb(14, 14, 102);
    transform: translate(-182px,+10px);
    border-radius: 50% 50%;
}
.icono_boton_azul-10 img{
    height: 65px;
    width: 65px;
    background: rgb(14, 14, 102);
    transform: translate(-184px,+10px);
    border-radius: 50% 50%;   
} 
.icono_boton_azul-11 img{
    height: 65px;
    width: 65px;
    background: rgb(14, 14, 102);
    transform: translate(-193px,+10px);
    border-radius: 50% 50%;   
}
.icono_boton_azul-12 img{
    height: 65px;
    width: 65px;
    background: rgb(14, 14, 102);
    transform: translate(-195px,+10px);
    border-radius: 50% 50%;   
}
.formulario{
    text-align: center;
}
.table{
    width: 380px;
    margin: auto;
    background-color: rgb(48, 236, 236);
    border: 1px solid #000;
}
.Mesa{
    background-color: rgb(14, 87, 243);
}

@media (max-width: 800px){
    .container{
        height: 90%;
        width: 90%;
        display: grid;
        grid-template-columns: 25%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .caja{
        height: 180px;
        width: 180px;
    }
    .BARRA{
        transform: translate(+20px,-40px);
    }
    .M1{
        transform: translate(+35px,-40px);
    }
    .M2{
        transform: translate(+35px,-40px);
    }
    .M3{
        transform: translate(+35px,-40px);
    }
    .M4{
        transform: translate(+35px,-40px);
    }
    .M5{
        transform: translate(+35px,-40px);
    }
    .M6{
        transform: translate(+35px,-40px);
    }
    .M7{
        transform: translate(+35px,-40px);
    }
    .M8{
        transform: translate(+35px,-40px);
    }
    .M9{
        transform: translate(+35px,-40px);
    }
    .M10{
        transform: translate(+35px,-40px);
    }
    .M11{
        transform: translate(+35px,-40px);
    }
    .icono_boton_azul-1 img{
        height: 75px;
        width: 75px;
        background: rgb(14, 14, 102);
        transform: translate(-205px,+30px);
        border-radius: 100%;
    }
    .icono_boton_azul-2 img{
        height: 75px;
        width: 75px;
        background: rgb(14, 14, 102);
        transform: translate(-170px,+30px);
        border-radius: 50% 50%;   
    }
    .icono_boton_azul-3 img{
        height: 75px;
        width: 75px; 
        background: rgb(14, 14, 102);
        transform: translate(-170px,+30px);
        border-radius: 50% 50%;  
    }
    .icono_boton_azul-4 img{
        height: 75px;
        width: 75px;
        background: rgb(14, 14, 102);
        transform: translate(-170px,+30px);
        border-radius: 50% 50%;   
    }
    .icono_boton_azul-5 img{
        height: 75px;
        width: 75px;
        background: rgb(14, 14, 102);
        transform: translate(-170px,+30px);
        border-radius: 50% 50%;   
    }
    .icono_boton_azul-6 img{
        height: 75px;
        width: 75px;
        background: rgb(14, 14, 102);
        transform: translate(-170px,+30px);
        border-radius: 50% 50%;   
    }
    .icono_boton_azul-7 img{
        height: 75px;
        width: 75px;
        background: rgb(14, 14, 102);
        transform: translate(-170px,+30px);
        border-radius: 50% 50%;  
    }
    .icono_boton_azul-8 img{
        height: 75px;
        width: 75px;
        background: rgb(14, 14, 102);
        transform: translate(-170px,+30px);
        border-radius: 50% 50%;   
    }
    .icono_boton_azul-9 img{
        height: 75px;
        width: 75px;
        background: rgb(14, 14, 102);
        transform: translate(-170px,+30px);
        border-radius: 50% 50%;   
    }
    .icono_boton_azul-10 img{
        height: 75px;
        width: 75px;
        background: rgb(14, 14, 102);
        transform: translate(-170px,+30px);
        border-radius: 50% 50%;   
    }
    .icono_boton_azul-11 img{
        height: 75px;
        width: 75px;
        background: rgb(14, 14, 102);
        transform: translate(-180px,+30px);
        border-radius: 50% 50%;   
    }
    .icono_boton_azul-12 img{
        height: 75px;
        width: 75px;
        background: rgb(14, 14, 102);
        transform: translate(-180px,+30px);
        border-radius: 50% 50%; 
    }
    .boton_verde-1{
        transform: translate(-146px,-35px);
        background: rgb(0, 255, 17);
        border-radius: 100%;
    }
    .boton_rojo-2{
        transform: translate(-47px,-34px);
        background: red;
        border-radius: 100%;
    }
    .boton_verde-3{
        transform: translate(-107px,-35px);
        background: rgb(13, 255, 0);
        border-radius: 100%;
    }
    .boton_rojo-4{
        transform: translate(-6px,-34px);
        background: red;
        border-radius: 100%;
    }
    .boton_verde-5{
        transform: translate(-107px,-35px);
        background: rgb(13, 255, 0);
        border-radius: 100%;
    }
    .boton_rojo-6{
        transform: translate(-6px,-34px);
        background: red;
        border-radius: 100%;
    }
    .boton_verde-7{
        transform: translate(-107px,-35px);
        background: rgb(13, 255, 0);
        border-radius: 100%;
    }
    .boton_rojo-8{
        transform: translate(-6px,-34px);
        background: red;
        border-radius: 100%;
    }
    .boton_verde-9{
        transform: translate(-107px,-35px);
        background: rgb(13, 255, 0);
        border-radius: 100%;
    }
    .boton_rojo-10{
        transform: translate(-6px,-34px);
        background: red;
        border-radius: 100%;
    }
    .boton_verde-11{
        transform: translate(-107px,-35px);
        background: rgb(13, 255, 0);
        border-radius: 100%;
    }
    .boton_rojo-12{
        transform: translate(-6px,-34px);
        background: red;
        border-radius: 100%;
    }
    .boton_verde-13{
        transform: translate(-107px,-35px);
        background: rgb(13, 255, 0);
        border-radius: 100%;
    }
    .boton_rojo-14{
        transform: translate(-6px,-34px);
        background: red;
        border-radius: 100%;
    }
    .boton_verde-15{
        transform: translate(-107px,-35px);
        background: rgb(13, 255, 0);
        border-radius: 100%;
    }
    .boton_rojo-16{
        transform: translate(-6px,-34px);
        background: red;
        border-radius: 100%;
    }.boton_verde-17{
        transform: translate(-107px,-35px);
        background: rgb(13, 255, 0);
        border-radius: 100%;
    }
    .boton_rojo-18{
        transform: translate(-6px,-34px);
        background: red;
        border-radius: 100%;
    }
    .boton_verde-19{
        transform: translate(-107px,-35px);
        background: rgb(13, 255, 0);
        border-radius: 100%;
    }
    .boton_rojo-20{
        transform: translate(-6px,-34px);
        background: red;
        border-radius: 100%;
    }
    .boton_verde-21{
        transform: translate(-117px,-35px);
        background: rgb(13, 255, 0);
        border-radius: 100%;
    }
    .boton_rojo-22{
        transform: translate(-13px,-34px);
        background: red;
        border-radius: 100%;
    }
    .boton_verde-23{
        transform: translate(-117px,-35px);
        background: rgb(13, 255, 0);
        border-radius: 100%;
    }
    .boton_rojo-24{
        transform: translate(-15px,-33px);
        background: red;
        border-radius: 100%;
    }
}