*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box ;
    box-sizing: border-box;
}
body{
    margin: 0;
    display: inline-block;
}
nav{
    background: rgb(19, 175,159);
}
.menu{
    text-align: center;
    margin: 0;
}
.menu li{
    display: inline-block;
}
.menu a{
    padding: 45px;
    color:white;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-family:'Monoton', cursive;
}
.menu a:hover{
    background:rgb(55, 203, 189);
}
.gris{
    background: #333;
    color: white;
    text-align: center;
    padding: 80px;
    font-family: 'bangers', sans-serif;
    font-size: 22px;
}
.img{
    height: 300px;
    background: url(https://www.focal.red/sites/default/files/2017-09/Chile_0.png);
    background-size: cover;
}
.dos_col{
    width: 1024px;
    margin: auto;
}
.col{
    display: inline-block;
    vertical-align: top;
    padding-left: 150px;
}
.dos_col .col_left .col{
    width: 600px;
    vertical-align: bottom;
    float:left;
    margin-right: 60px;
    padding-right: 150px;
}
.dos_col .col_right .col{
    width: 400px;
    padding-left: 500px;
    box-sizing: border-box;
  

}
.dos_col .col_right ul{
    padding: 0;
}
.dos_col .col_right li{
    list-style: nome;
    margin-bottom: 10px;
}
.dos_col .col_right a{
    color: #333;
}
.dos_col .col_right a:hover{
    text-decoration: nome;
}
.tres_col_wrapper{
    background: rgb#1e1b1a;    
}
.tres_col{
    color: white;
    width: 1200px;
    margin: auto;
}
.tres_col a{
    color: white;
}
.tres_col_wrapper li{
    list-style: nome;
    margin-bottom: 10px;
}
.icon{
    width: 65px;
    height: 65px;
    background: red;
    display: 50%;
}
.twitter{
    background: url(img/twitter.png);
}
.facebook{
    background: url(img/facebook.png);
}
.whatsapp{
    background: url(img/whatsapp.png);
}
.footer{
    background:rgb(19, 175,159);
    padding: 2opx;
    text-align: center;
    color: white;
    font-family: 'bangers', cursive;
}
