*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    height: 600px;
    width: 800px;
    background: #09024b;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    /* grid-auto-flow: row; defecto */
    grid-auto-flow: dense;
    grid-auto-columns: 100px;
    grid-auto-rows: 200px; 
    /* grid-auto-flow: row; */
}
[class^="item"]{
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.item6{
    grid-column: span 2;
}
.item2{
    grid-column: span 2;
}

.item1, .item8{
    background: #cfa107;
}
.item2, .item7{
    background: #156920;
}
.item3, .item6{
    background: #064d50;
}
.item4, .item5{
    background: #91016d;
}


/* .item1{
    background: #961478;
}
.item2{
    background: #3e1f1f;
}
.item3{
    background: #136fa1;
}
.item4{
    background: #376f60;
}
.item5{
    background: #8bd2a1;
}
.item6{
    background: #9de911;
}
.item7{
    background: #ab980c;
}
.item8{
    background: #cd0f0f;
} */