h1{
    text-align: center;
}
h4{
    text-align: center
}
h3{
    text-align: center;
}
.tabla{
    width: 100%;
    margin: 3px;
    text-align: center;
    border: 2px solid #000;
}
.tablo{
    width: 15%;
    margin: 20px;
    padding: 50px;
    margin: 50px;
    text-align: center;
    border: 2px solid #000;
    transform: translate(+400px,+60px);
}
.table{
    transform: translate(+70px,+40px);
}
.remove{
    background-color: red;
    color: #fff;
}
.editar{
    background-color: blue;
    color: #fff;
}
.bita{
    background-color: aqua;
    border: 2px solid #000;
}