*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.container{
    width: 100%;
    text-align: center;
    border: 1px solid #000;
    background-color: rgb(82, 82, 92);
}
.container img{
    position: relative;
    left: -300px;
    top: 20px;
}
h1{
    margin: 70px;
    text-align: center;
}
ul{
    justify-content: space-evenly;
    text-decoration: none;
    display: grid;
    grid-template-columns: 0px 0px 0px 0px;
    width: 350px;
    position: relative;
    left: 62%;
    top: 200px;
}
li{
    display: flex;
    position: relative;
    left: 70%;
    top: -220px;
    margin: 10px;
}
a{
    text-decoration: none;
    color: #fff;
}
.imagen img{
    width: 100%;
    height: 100%;
}
.button{
    background-color: rgb(17, 17, 17);
}
.icono{
    height: 20%;
    width: 100%;
    background-color: rgb(32, 31, 31);
    color: #fff;
}
.icono img{
    height: 30px;
    width: 30px;
    background-color: #fff;
}
.formulario{
    height: 20px;
    width: 20px;
    position: relative;
    left: 1000px;
    top: -150px;
}
.formulario img{
    height: 17px;
    width: 18px;
    background-color: #fff;
    position: relative;
    left: 170px;
    top: -18px;
}
.imagen p{
    margin: -25px;
    height: 0px;
}
p{
    width: 35%;
    position:static;
    position: relative;
    top: -1200px;
    left: 650px;
    font-size: 18px;
}
.pipe{
    position: static;
    margin: 30px;
    position: relative;
    top: 30px;
    top: -1000px;
}
.icono a{
    margin: 3px;
    position: relative;
    left: 80%;
    top: -50px;
}
.parrafo_de_iconos{
    position: static;
    position: relative;
    top: -20px;
    left: 30px;
    font-size: 23px;
}