*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 600px;
    width: 800px;
    background: #000000;
    display: grid;  
    /* grid-gap: 40px 10px; */
    /* grid-column-gap: 10px; */
    /* grid-row-gap: 40px; */
    /*grid-template-columns:repeat(4, 1fr) ;
    grid-template-rows: 1fr 1fr 1fr;*/
    grid:repeat(4,1fr)/ repeat(4,1fr);
    /*filas /columnas */
}
[class^="item"]{
    color: #fff;
}
.item1{
    background: #cfa107;
    grid-area: 1 / 1 / 2 / 5 ;
    /* InicioR / InicioC / finoLR / FinarC */
    /*grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2; */
    
}
.item2{
    background: #156920;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    
}
.item3{
    background: #064d50;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    
}
.item4{
    background: #91016d;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    
}


/* .item1{
    background: #a346ff;
    grid-area: 1 / 1 / 2 / 5 ;
    /* InicioR / InicioC / finoLR / FinarC */
    /*grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2; 
    
}
.item2{
    background: #d03232;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    
}
.item3{
    background: #ff1717;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    
}
.item4{
    background: #ed1cb9;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    
} */

