*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    height: 600px;
    width: 800px;
    border: 5px solid #000;
    margin-left: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    /* grid-auto-flow: column; */
    /* justify-items: center; */
    /* justify-items: stretch / end / start / center; */
    /* align-items: stretch / end / start / center; */
    

}

[class^="item"]{
    color: #fff;
    font-size: 30px;
    text-align: center;
}


.item1{
    background: #cfa107;
    order: 1;
    /* justify-self: end; */
    /* align-self: start; */
}
.item2{
    background: #156920;
    order: 2;
}
.item3{
    background: #064d50;
    order: 3;
}
.item4{
    background: #91016d;
    order: 4;
}