header{
    width: auto;
    height: 100px;
    border: 1px solid #000;
}
aside{
    width: 40%;
    height: 300px;
    border: 1px solid #000;
}
main{
    width: 40%;
    height: 300px;
    border: 1px solid #000;
}
footer{
    width: auto;
    height: 100px;
    border: 1px solid #000;
}