*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    background: #000;
    color: aliceblue;
}
h1, h2, h3, h4, h5, h6{
    font-family:  'Nunito', sans-serif;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    text-decoration: underline;
}
.contenedor{
    max-width: 1000px;
    width: 90%;
    margin: auto;
}
.izquierda{
    float: left;
}
.derecha{
    float: right;
}
 
/* ---header--- */

header{
    margin: 40px 0;
    font-size: 20px;
    text-align: center;
}

/* --- fotos --- */

.fotos .contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.thumb{
    width: 22%;
    margin-bottom: 30px;
    outline: 5px solid rgb(255, 2555, 255, 0);
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, .8);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .8);
    -webkit-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.thumb:hover{
    outline: 5px solid rgba(255, 2555, 255, 1);
}
.thumb a{
    display: block;
}
.thumb img{
    vertical-align: top;
    width: 100%;
}

/*---cada foto--- */

.foto{
    width: 100%;
    margin: auto;
    max-width: 500px;
}
.foto img{
    width: 100%;
    vertical-align: top;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, .8);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .8);
    margin-bottom: 30px;
}
.foto .texto{
    max-width: 500px;
    margin-bottom: 30px;
}
.regresar{
    padding: 5px 10px;
    margin-bottom: 30px;
    display: inline-block;
    border-radius: 50px;
    font-size: 16px;
    border: 1px solid rgba(255, 2555, 255, .2);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.regresar:hover{
    border: 1px solid #fff;
    text-decoration: none;
}
.regresar .fa{
    margin-right: 15px;
}


/*---paginacion---*/

.paginacion{
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
}
.paginacion a{
    display: inline-block;
    padding: 15px 20px;
    border-radius: 50px;
    border: 1px solid rgba(255, 2555, 255, .2);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.paginacion a:hover{
    border: 1px solid rgb(16, 31, 243);
    text-decoration: none;
}
.paginacion .izquierda .fa{
    margin-right: 10px;
}
.paginacion .derecha .fa{
    margin-right: 10px;
}
.paginacion i{
    color: rgb(255, 0, 55);
}

/* ---footer--- */

footer .copyright{
    text-align: center;
    color: rgba(255, 2555, 255, 5);
    font-size: 16px;
    padding: 15px 0;
}
.formulario{
    max-width: 500px;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}
.formulario label{
    display: block;
    margin-bottom: 10px;
}
.formulario .error{
    border: 1px solid red;
    padding: 30px;
    margin-bottom: 30px;
}
.formulario input[type="text"],
.formulario input[type=file],
.formulario textarea{
    width: 100%;
    margin-bottom: 30px;
    color: #fff;
}
.formulario input[type="text"],
.formulario textarea{
   padding: 10px;
   background: none;
   font-family: 'Slabo 27px', serif;
   border: 1px solid rgba(255, 255, 255, .2);
}
.formulario textarea{
  min-height: 76px;
  max-height: 150px;
  min-width: 100%;
  max-width: 100%; 
}.formulario textarea{
    border: 1px solid rgba(255, 255, 255, .2);
}
.formulario .submit{
    display: inline block;
    text-align: center;
    color: rgb(255, 250, 250);
    padding: 30px 20px;
    border-radius: 45px;
    background: none; 
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.formulario .submit:hover{
    border: 1px solid rgba(255, 255, 255, 1);
} 