.container{
    display: flex;
    width: 600px;
}
.container{
    margin: 0 auto;
    background-color: rgb(24, 9, 17);
    padding: 10px;
    display: flex;
    border: solid 10px rgb(100, 87, 97);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
.item-1, .item-2, .item-3, .item-4 {
    display: flex;
    background: rgb(255, 254, 254);
    border: solid 5px #9c9ca1;
    margin: 3px;
    padding: 10px;
    
    
}

